
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#0f0f2d,#1a1a40);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    color:white;
    transition:0.3s;
}

/* LIGHT MODE */
body.light{
    background:#f5f5f5;
    color:#111;
}

/* CONTAINER */
.container{
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(15px);
    padding:20px;
    border-radius:15px;
    width:370px;
    box-shadow:0 0 25px rgba(0,0,0,0.5);
}

body.light .container{
    background:white;
    color:black;
}

/* HEADER */
.top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* INPUT */
input, select{
    width:100%;
    padding:10px;
    margin:5px 0;
    border:none;
    border-radius:6px;
    background:rgba(255,255,255,0.1);
    color:white;
}

body.light input,
body.light select{
    background:#eee;
    color:black;
}

/* BUTTONS */
button{
    padding:10px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    margin-top:5px;
    transition:0.3s;
    color:white;
}

.add-btn{background:#4caf50;}
.sort-btn{background:#00bcd4;}
.clear-btn{background:#e53935;}

button:hover{
    transform:scale(1.03);
}

/* TASKS */
ul{
    list-style:none;
    margin-top:15px;
    max-height:200px;
    overflow-y:auto;
}

li{
    background:rgba(255,255,255,0.08);
    margin:8px 0;
    padding:10px;
    border-radius:8px;
}

body.light li{
    background:#e0e0e0;
}

.completed{
    text-decoration:line-through;
    opacity:0.6;
}

/* PRIORITY */
.high{color:#ff5252;}
.medium{color:#ffd740;}
.low{color:#69f0ae;}

.actions{
    display:flex;
    justify-content:space-between;
    margin-top:5px;
    font-size:0.8rem;
}

.delete{color:red;}

/* COUNTER */
.counter{
    margin-top:10px;
    font-size:0.9rem;
}
